.home {
  margin-top: 100px;
  width: 700px;
  height : 300px;
  color: white;
  background-color: #C8C8C8;
  box-shadow: 2px 2px 2px #C8C8C8;
}

.banner {
  display: flex;
  justify-content: center;
}
